{% extends "base.html.twig" %}

{% set pageTitle = "Users" %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    {# @var pagination \Knp\Bundle\PaginatorBundle\Pagination\SlidingPagination #}
    <div id="page-user-list">
        {% if pagination.getTotalItemCount > 0 %}
            <div class="count">
                Total {{ pageTitle }}: {{ pagination.getTotalItemCount }}
            </div>


            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th{% if pagination.isSorted('firstName') %} class="sorted {{ pagination.getDirection() }}"{% endif %}>{{ knp_pagination_sortable(pagination, 'First name', 'firstName') }}</th>
                    <th{% if pagination.isSorted('structure.name') %} class="sorted {{ pagination.getDirection() }}"{% endif %}>{{ knp_pagination_sortable(pagination, 'Structure', 'structure.name') }}</th>
                </tr>
                </thead>
                <tbody>
                {# @var user \AppBundle\Entity\User #}
                {% for user in pagination %}
                    {% set structure = user.structure %}
                    <tr data-user="{{ user.id }}">
                        <td>{{ user.firstName }}</td>
                        <td>{{ structure ? structure : '-' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <div class="no-results-found">No results</div>
        {% endif %}
    </div>
{% endblock %}
